flasgger==0.9.7.1
Flask==3.0.2
flask_babel==4.0.0
Flask_Bcrypt==1.0.1
flask_jwt_extended==4.6.0
flask_limiter==3.5.1
Flask_Login==0.6.3
Flask_Mail==0.9.1
flask_restful==0.3.10
Flask_SQLAlchemy==3.1.1
pandas==2.2.2
numpy==2.0.0
requests==2.31.0
SQLAlchemy==2.0.31
Werkzeug==3.0.3
gunicorn==22.0.0
PyMySQL==1.1.1
Flask-Migrate==4.0.7
treelib==1.7.0
pytest==8.2.2
Flask_MonitoringDashboard==3.3.2
geopandas==1.0.0
geojson==3.1.0
Jinja2==3.1.4
prometheus_flask_exporter==0.23.0
cryptography==42.0.8
